#icon{
    height: 62px;
}

body{
    margin: 0;;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#notícias{
    display: flex;
    background-color: rgb(114, 107, 42);
    margin: 40px;
}

.notícia{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img_notícia{
    height: 150px;
}

#escalações{
    display: flex;
    background-color: rgb(114, 107, 42);
    margin: 40px;
}

.jogadores{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img_jogadores{
    height: 150px;
}
.goleiros{
    display: flex;
}

footer{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}